.dashboardMetrics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 24px;
    padding: 20px;
    box-shadow:
        0 1px 2px rgba(0, 0, 0, 0.08),
        0 4px 12px rgba(0, 0, 0, 0.06);
    border: 1px solid var(--gray_3);
    border-radius: 8px;
    background-color: var(--gray_6);
}

.dashboardMetrics > * {
  padding: 16px;
}
.dashboardMetrics > *:not(:nth-child(1)) {
  border-left: 1px solid var(--gray_3);
}