/* pagination - shared for all pages */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border: 1px solid var(--gray_2);
    border-top: 1px solid transparent;
    background-color: var(--gray_6);
    border-radius: 0 0 4px 4px;
    padding: 24px 0;
}
.pagination button {
    color: var(--gray_-4);
}
.btnPrevPage,
.btnNextPage,
.pageNumber {
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid var(--gray_2);
}
.btnPrevPage:disabled,
.btnNextPage:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
.btnPrevPage:hover,
.btnNextPage:hover,
.pageNumber:hover {
    background: var(--gray_5);
}
.pageNumber.active {
    background: var(--blue_0);
    color: var(--gray_6);
    border-color: var(--blue_0);
}
