/* summary cards - shared for all pages */
.summaryContainer {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    margin: 12px 0 24px 0;
}
.summaryCard {
    background-color: var(--gray_6);
    border-radius: 8px;
    padding: 24px 20px;
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    text-align: left;
    box-shadow:
        0 1px 2px rgba(0, 0, 0, 0.08),
        0 4px 12px rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(0, 0, 0, .05);
}

.icon {
    width: 32px;
    height: 32px;
    margin-bottom: 10px;
}
.count {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    color: #333;
}
.label {
    font-size: 14px;
    color: #777;
    margin-top: 4px;
}

/* total card */
.totalCard {
    background-color: var(--blue_0);
    color: var(--gray_-6);
}
.totalCard .count {
    color: var(--gray_6);
}
.totalCard .label {
    color: var(--gray_2);
}
.totalCard .icon {
    color: var(--gray_6);
}

/* active card */
.activeCard {
    background-color: var(--green_4);
}
.activeCard .count {
    color: var(--green_1);
}
.activeCard .label {
    color: var(--gray_-1);
}
.activeCard .icon {
    color: var(--green_0);
}

/* inactive card */
.inactiveCard {
    color: var(--yellow_4);
}
.inactiveCard .count {
    color: var(--yellow_1);
}
.inactiveCard .label {
    color: var(--gray_-1);
}
.inactiveCard .icon {
    color: var(--yellow_0);
}

/* out of stock card */
.outOfStockCard {
    background-color: var(--red_4);
}
.outOfStockCard .count {
    color: var(--red_1);
}
.outOfStockCard .label {
    color: var(--gray_-1);
}
.outOfStockCard .icon {
    color: var(--red_0);
}
