.sidebar {
    background: var(--color-bg);
    border-right: 1px solid var(--color-bg-soft);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    height: 60px;
    background-color: var(--blue_-4);
    border-bottom: 2px solid var(--blue_-2);
    color: var(--gray_6);
}

.logo {
    width: 36px;
    height: auto;
    cursor: pointer;
}
.title {
    font-size: 16px;
    color: var(--blue_-6);
    font-weight: 600;
    cursor: pointer;
}
.logo:hover,
.title:hover {
    color: var(--blue_3);
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--blue_-3);
    color: var(--gray_0);
    padding: 12px 0 0;
    box-sizing: border-box;
    flex: 1;
}

.link {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 12px;
    padding: 10px 12px;
    text-decoration: none;
    font-weight: 500;
    color: var(--gray_6);
    margin: 0 12px;
    border-radius: 8px;
    transition: background-color 0.1s ease-out, color 0.1s ease-out;
}
.link:hover {
    color: var(--gray_4);
    background-color: var(--blue_-2);
}

.link.active {
    background-color: var(--blue_1);
}
.link.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.link svg {
    width: 20px;
    height: auto;
}