/* page */
.page {
    display: flex;
    flex-direction: column;
}
.title {
    font-size: 24px;
    font-weight: 700;
    margin: 12px 0;
}
.divider {
    border: none;
    border-top: 1px solid var(--gray_2);
    margin-top: 8px;
}
.highlight {
    animation: highlightBlink 5s infinite;
}
@keyframes highlightBlink {
    0%, 100% { background-color: transparent; }
    50% { background-color: var(--yellow_0); }
}

/* controls */
.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 12px;
}
.filters {
    display: flex;
    gap: 12px;
}
.filter {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 8px;
    border: 1px solid var(--gray_2);
    border-radius: 6px;
    background: #fff;
    font-size: 12px;
    font-weight: 700;
}
.filter span {
    font-size: 13px;
    color: var(--gray_-2);
    white-space: nowrap;
}
.select {
    border: none;
    outline: none;
    background: transparent;
    color: var(--blue_0);
    padding: 0;
    cursor: pointer;
}
.addButton {
    padding: 8px 14px;
    border-radius: 8px;
    background: var(--blue_0);
    color: var(--gray_6);
    border: none;
    cursor: pointer;
}

/* table */
.tableWrapper {
    background: var(--gray_6);
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    border-top: 1px solid var(--gray_2);
    border-left: 1px solid var(--gray_2);
    border-right: 1px solid var(--gray_2);
}
.table {
    width: 100%;
    border-collapse: collapse;
}
.table tr {
    border-bottom: 1px solid var(--gray_2);
    width: 100%;
}
.row:hover {
    background: var(--gray_5);
}
.table th,
.table td {
    padding: 12px;
    text-align: left;
}
.table tr th:first-child {
    width: 32px;
}
.table thead {
    background: var(--gray_5);
    font-size: 14px;
    font-weight: 600;
    color: var(--gray_-3);
}
.table tfoot {
    display: flex;
    justify-content: center;
    align-items: center;
}
.table tfoot tr {
    width: 100%;
    display: flex;
    padding: 18px 0;
}
.table .userInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.table .id {
    color: var(--gray_-1);
    font-weight: 600;
}

.table .userName {
    font-weight: 500;
}
.table .userEmail {
    color: var(--gray_-1);
}
.table .date {
    color: var(--gray_-1);
}
.table .total {
    font-weight: 500;
}

/* badges */
.badge {
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
}
.badge.completed {
    background: var(--green_0);
    color: var(--green_5);
}
.badge.canceled {
    background: var(--red_0);
    color: var(--red_5);
}
.badge.pending {
    background-color: var(--yellow_0);
    color: var(--yellow_5);
}


/* actions */
.actions {
    display: flex;
    align-items: center;
    gap: 8px;
}
.actionBtn {
    display: flex;
    align-items: center;
    gap: 4px;
    border: 1px solid var(--gray_2);
    padding: 4px 8px;
    border-radius: 4px;
    background: transparent;
    color: var(--gray_-1);
    cursor: pointer;
    transition: border-color 0.1s ease-out, color 0.1s ease-out;
}
.actionBtn:hover {
    color: var(--blue_0);
    border-color: var(--blue_0);
}
.actionBtn svg {
    width: 16px;
    height: 16px;
}

/* pagination */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border: 1px solid var(--gray_2);
    border-top: 1px solid transparent;
    background-color: var(--gray_6);
    border-radius: 0 0 4px 4px;
    padding: 24px 0;
}
.pagination button {
    color: var(--gray_-4);
}
.btnPrevPage,
.btnNextPage,
.pageNumber {
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid var(--gray_2);
}
.btnPrevPage:disabled,
.btnNextPage:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
.btnPrevPage:hover,
.btnNextPage:hover,
.pageNumber:hover {
    background: var(--gray_5);
}
.pageNumber.active {
    background: var(--blue_0);
    color: #fff;
    border-color: var(--blue_0);
}

/* summary cards */
.summaryContainer {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    margin: 12px 0 20px 0;
}
.summaryCard {
    background-color: var(--gray_6);
    border-radius: 8px;
    padding: 24px 20px;
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    text-align: left;
    box-shadow:
        0 1px 2px rgba(0, 0, 0, 0.08),
        0 4px 12px rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(0,0,0,.05);
}

.icon {
    width: 32px;
    height: 32px;
    margin-bottom: 10px;
}
.count {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    color: #333;
}
.label {
    font-size: 14px;
    color: #777;
    margin-top: 4px;
}

/* total card */
.totalCard {
    background-color: var(--blue_0);
    color: var(--gray_-6);
}
.totalCard .count {
    color: var(--gray_6);
}
.totalCard .label {
    color: var(--gray_2);
}
.totalCard .icon {
    color: var(--gray_6);
}

/* active card */
.activeCard {
    background-color: var(--green_4);
}
.activeCard .count {
    color: var(--green_1);
}
.activeCard .label {
    color: var(--gray_-1);
}
.activeCard .icon {
    color: var(--green_0);
}

/* inactive card */
.inactiveCard {
    color: var(--yellow_4);
}
.inactiveCard .count {
    color: var(--yellow_1);
}
.inactiveCard .label {
    color: var(--gray_-1);
}
.inactiveCard .icon {
    color: var(--yellow_0);
}

/* out of stock card */
.outOfStockCard {
    background-color: var(--red_4);
}
.outOfStockCard .count {
    color: var(--red_1);
}
.outOfStockCard .label {
    color: var(--gray_-1);
}
.outOfStockCard .icon {
    color: var(--red_0);
}