.layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    min-height: 100vh;
    background-color: var(--gray_5);
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    padding: 16px;
    background-color: var(--gray_4);
}
